@import url(_reset.css);
.container { 
	padding-right: 1rem;
	padding-left: 1rem;
}

.flex {
	display: flex;
}

.flex--centro {
	align-items: center;
	justify-content: center;
}

.flex--coluna {
	flex-direction: column;
}